.center{
    background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}

.countrypick__top{
    display: flex;
    color: white;
}

.countrypick__bottom{
    display: flex;
    color: white;
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center;
}

.button__left,.button__right,.button__middle {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}
  
  
  button:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button__left{
    background:#BA1B1D;


}
.button__middle{
background: #57886c;
}
.button__right{
    background: #17141d;
}